.resume {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    background-color: var(--bg-dwld-color);
    color: #ffffff;
    padding: 10px 15px;
}

.download-icon {
    width: 20px;
}