.valuePercent{
    width: 120px;
    height: 120px;
    margin: 20px;
    position: relative;
}

svg circle{
    fill: none;
    stroke: #dddddd;
    stroke-width: 10;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
}

svg circle:nth-child(2){
    fill: none;
    stroke: #4240d8;
    stroke-width: 10;
    stroke-dasharray: var(--percent) 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
}

.label-per{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 700;
    color: #363636;
}